@use 'sass:math';

li {
  @for $i from 1 through 13 {
    $length: math.random($i*25) + 50;

    &:nth-child(#{$i}) {
      $position: math.random(120)-20;
      left: #{$position + '%'};
      width: #{$length + 'px'};
      height: #{$length + 'px'};
      animation: #{'a' + $i} #{calc((math.random(10 * $length)/10) + 5) + 's'} linear #{calc((math.random(30)/10) + 1) + 's'} infinite;
    }

    @keyframes #{'a' + $i} {
      100% {
        transform: translateY(-1000px) rotate(#{round(calc((100000 - math.random(200000*$i)/20)/$length + $i))} + 'deg');
        opacity: 0;
        border-radius: 50%;
      }
    }
  }
}
