<section class="landing-page">
  <div class="content">
    <div class="text">
      <h1 class="hero glitch layers" data-text="Stefan Pisjak"><span>Stefan Pisjak</span></h1>
      <h2>DevOps Engineer<span class="blinking">_</span></h2>
    </div>
    <picture class="box">
      <source type="image/avif" srcset="
        https://gitlab.com/2tefan-personal/assets/images/-/raw/be821312d02be0aa5f2fcb2c33f45baf3447743b/me/ME_lower.avif 1x,
        https://gitlab.com/2tefan-personal/assets/images/-/raw/be821312d02be0aa5f2fcb2c33f45baf3447743b/me/ME_low.avif 2x,
        https://gitlab.com/2tefan-personal/assets/images/-/raw/be821312d02be0aa5f2fcb2c33f45baf3447743b/me/ME.avif 4x">

      <source type="image/jpg" srcset="
        https://gitlab.com/2tefan-personal/assets/images/-/raw/be821312d02be0aa5f2fcb2c33f45baf3447743b/me/ME_lower.jpg 1x,
        https://gitlab.com/2tefan-personal/assets/images/-/raw/be821312d02be0aa5f2fcb2c33f45baf3447743b/me/ME_low.jpg 2x,
        https://gitlab.com/2tefan-personal/assets/images/-/raw/be821312d02be0aa5f2fcb2c33f45baf3447743b/me/ME.jpg 4x">

      <img
        src="https://gitlab.com/2tefan-personal/assets/images/-/raw/be821312d02be0aa5f2fcb2c33f45baf3447743b/me/ME_low.jpg">
    </picture>
  </div>
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <div class="more-line mono">
    <p>--More--({{scrollPercentage}}%)</p>
  </div>
</section>
