@use 'sass:math';

.landing-page {
  background-color: rgb(3, 3, 3);
  color: white;
  height: 100vh;

  display: flex;
  justify-content: center;
  overflow: hidden;


  .circles {
    position: absolute;
    padding: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    li {
      position: absolute;
      display: block;
      list-style: none;
      background: rgba(255, 255, 255, 0.2);
      bottom: -550px;
    }
  }
}

.more-line {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: white;
  color: black;
  z-index: 2;

  p {
    margin: 0;
  }
}

.content {
  $img-size: 200px;
  max-width: 1000px;
  display: grid;
  gap: 10px;


  grid-template-areas: "img" "text";

  @media (min-width: 700px) {
    grid-template-areas: "img text";
    grid-template-columns: calc(1.1 * #{$img-size}) auto;
    grid-template-rows: calc(1.1 * #{$img-size}) auto;
  }


  align-content: center;

  .text {
    grid-area: text;
    display: inline-grid;
    grid-template-areas:
      "name"
      "details";

    align-content: center;
    align-items: center;

    h1,
    h2 {
      margin: 0 -3rem;
      padding: 0 5rem;
    }

    h1 {
      grid-area: name;
      //margin-top: -2rem;

      font-size: 64px;
      margin-bottom: -10px;
      @media (min-width: 460px) {
        font-size: 96px;
        margin-bottom: -1rem;
      }
    }

    h2 {
      font-size: 24px;
      grid-area: details;
      z-index: 2;
    }

    // Begin blinking effect
    .blinking {
      animation: blinking-text 1.6s step-end infinite;
    }

    @keyframes blinking-text {
      0% {
        opacity: 0;
      }

      50% {
        opacity: 1;
      }
    }
  }

  picture {
    $stroke-size: 1px;
    $stroke-size--negative: calc(-1 * #{$stroke-size});
    $stroke-color: rgb(0, 140, 255);
    z-index: 1;

    display: flex;
    justify-content: center;
    grid-area: img;
    //filter: drop-shadow($stroke-size 0px 0px $stroke-color) drop-shadow($stroke-size--negative 0px 0px $stroke-color) drop-shadow(0px $stroke-size 0px $stroke-color) drop-shadow(0px $stroke-size--negative 0px $stroke-color) drop-shadow($stroke-size $stroke-size 0px $stroke-color) drop-shadow($stroke-size--negative $stroke-size--negative 0px $stroke-color ) drop-shadow($stroke-size--negative $stroke-size 0px $stroke-color) drop-shadow($stroke-size $stroke-size--negative 0px $stroke-color);

    img {
      width: $img-size;
      animation: pixelized-load 3s cubic-bezier(.13, .55, .19, .95);
      animation-delay: 0.25s;
      clip-path: polygon(99.69% 55.6%,
          76.6% 92.34%,
          33.49% 97.19%,
          2.81% 66.51%,
          7.66% 23.4%,
          44.4% 0.31%,
          85.36% 14.64%);
    }

    @keyframes pixelized-load {
      0% {
        filter: opacity(0) blur(2000px);
        scale: 2000;
      }
    }
  }
}
