<section class="project">
  <div class="center-icon-container">
    <div class="project-icon">
      <app-svg-icon name="{{icon}}"></app-svg-icon>
    </div>
  </div>
  <div class="spacing">
    <div class="content">
      <!--<h3><a id="{{title}}" href="/#{{title}}">{{title}}</a></h3>-->
      <h3>{{title}}</h3>
      <ng-content></ng-content>
    </div>
  </div>
</section>
