.project {
  position: relative;
  min-height: 40mm;
  display: grid;
  grid-template-rows: 42mm auto;
  grid-template-columns: auto;
  margin: 1rem 0;

  @media (min-width: 1200px) {
    margin: 5rem 0;
    grid-template-rows: auto;
    grid-template-columns: 42mm auto;
    column-gap: 10mm;
  }
}


.content {
  max-width: 200mm;
}

.project-icon {
  z-index: 10;
  width: 32mm;
  height: 32mm;
  border-radius: 50%;
  overflow: hidden;
  padding: 5mm;
  filter: drop-shadow(0 0 5px #241A66FF);
  margin: auto;
  position: relative;

  @media (min-width: 1200px) {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    margin: 0;
  }

  &::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    // https://colorgradient.dev/gradient-generator
    background-image: conic-gradient(from 0deg at 50% 50%, #FF000000 1%, #FFFFFF00 29%, #241A66FF 61%, #FF3CE6FF 99%);
    animation: rotate 3s linear infinite;
  }

  &::after {
    content: '';
    position: absolute;
    z-index: -1;

    $border-size: 3;
    left: #{$border-size + 'px'};
    top: #{$border-size + 'px'};
    width: calc(100% - #{calc($border-size * 2) + 'px'});
    height: calc(100% - #{calc($border-size * 2) + 'px'});
    background: rgb(2, 0, 5);
    border-radius: 50%;
  }

  @keyframes rotate {
    100% {
      transform: rotate(1turn);
    }
  }
}
