<systemd-line message="Reached target Display landing page." status="true"></systemd-line>
<systemd-line message="Starting About me page..."></systemd-line>
<div class="wrapper">
<section class="about-me">
  <h2>About me ✨</h2>
  <p>Hey there! I'm Stefan, based in Graz within Austria. I love diving deep into open-source software and learning new
    concepts.</p>
  <p>One day I might be intrigued to learn a new programming language, such as Rust and write my own lightweight Git
    client for SemVer compatible releases for my projects, trying to detect birds based on their singing frequency using
    an FFT - another day I'll create my own Magisk module for my rooted Android just to use the newest emoji or I'll be
    migrating all my self-hosted docker containers to Kubernetes using GitOps or just messing around with LVM on LUKS (or
    the other way around) with TPM, adding a SSD cache to my HDD raid (not in place anymore tho), undervolting my CPU to
    save energy and gain some performance, setting up my own multiroom audio setup and integrating it into Home Assistant
    or this time, trying out Angular (and other frameworks such as HTMX or Svelte) and setting up this very website.</p>
  <p>There is no way I can put up everything I have ever done on here, but I'll try to a least show off some of the
    highlights I've been working on. Most of what I've been working is on <a href="https://gitlab.com/2tefan">GitLab</a>,
    but not all - some might be on <a href="https://github.com/2tefan">Github</a> or <a
      href="https://codeberg.org/2tefan">Codeberg</a> or on some self-hosted Git(ea) instance somewhere, maybe somewhere
    in my LogSeq notes or just lost to history ¯\_(ツ)_/¯</p>
</section>
</div>

<systemd-line message="Started About me page." status="true"></systemd-line>
<systemd-line message="Reached target Introduction" status="true"></systemd-line>
