<div class="center">
  <div class="line">
    <div class="point start-point"><div class="point"></div></div>
    <p class="year">2019</p>
    <app-project title="1st website" icon="website">
      <p>
        One day outside of school I started playing around a bit with HTML, CSS and jQuery.
        A few tutorials later, I had my dynDNS, Apache2 and my static site hosted. Which was reachable from everywhere
        on the internet, what blew my mind back then.
      </p>
      <p>
        This is the link to the <a link href="https://github.com/2tefan/Schober-Website">Github repo</a>. But over the
        years I moved from Apache2 to nginx and started to use CSS preprocessors, such as SCSS or Sass.
      </p>
    </app-project>
    <app-project title="Android Apps" icon="android">
      <p>
        Pretty much just after learning the basics of programming in Java I decided to write an app.
        And of course, the first thing to try out, was a counter, with an increment and decrement button.
        Eventually the decrement button had to got, and I created yet another clicker app, with automatic clicking and
        whatnot.
      </p>
      <p>
        Either way, I had some fun messing around with Java and the Google Play Console and finally sharing them with my
        friends on Google Play. In the meantime they are already removed from the Play Store again, as the targeted
        Android version is too old, but repos for <a href="https://github.com/2tefan/Schober-Clicker">Schober
          Clicker</a> (this clicker app), <a href="https://github.com/2tefan/SchoberLife">Schober Life</a>
        (inspired by <a href="https://www.reignsgame.com/reigns">Reigns</a>), <a
          href="https://github.com/2tefan/Schober-Orakel">Schober Orakle</a> (inspired by The Magic Shell) and <a
          href="https://github.com/2tefan/Schober-Calculator">Schober Calculator</a> (a very basic calculator) do still
        exist.</p>
      <p>
        But don't take it as a ref for my coding style, at this point I didn't even know yet, what a constructor
        is, and wrote my own init functions to initialize my objects xD Still I enjoyed those projects a lot
      </p>
    </app-project>
    <app-project title="3D modeling & animation" icon="3d">
      <p>
        In late 2019 I then decided, that I wanted to mess around with Blender. In this time period I learned a lot
        about modeling (especially for performant/low poly objects for games), texturing and animation.
      </p>
      <p>
        I did a lot of minor animations, such as animating how <a href="https://en.wikipedia.org/wiki/Quicksort">Quicksort</a>
        works (this animation is unfortunately lost to time). One day I felt the desire to model something bigger,
        so I asked a friend, what I should create. This resulted in a 3D model of the
        <a href="https://gitlab.com/2tefan-projects/3d-models/panzer-iv-ausfuehrung-h">Panzer IV Aus. H</a>.
      </p>
    </app-project>
    <p class="year">2020</p>
    <app-project title="Arch Linux" icon="arch-linux">
      <p>
        At this point, I have played around with some Linux distros and tried to use them as my daily driver.
        And I used Manjaro for a while, but I was sick of being stuck with "2 weeks old packages"
        [citation needed] and wanted to customize every bit of my OS. Also, I just needed a new challenge,
        so Arch Linux it is ( + i3 as WM ).
      </p>
      <p>
        Currently (2024) I am using a combination of Arch Linux with Sway and Ubuntu with i3 for work.
        My dotfiles can be found <a href="https://gitlab.com/2tefan-projects/Linux/dotfiles">here</a>
        in case you are interested ;)
      </p>
    </app-project>
    <app-project title="Server + Docker" icon="server">
      <p>
        In mid-2020, I started my journey into the world of self-hosting. I had already hosted my own
        website for quite a while, but after I learned about Docker/Containers and how easy it is to
        separate indented workloads, I was instantly mesmerized.
      </p>
      <p>
        I invested in some hard drives and SSDs and set up a RAID with LVM with SSD cache on top.
        Everything I found useful was self-hosted, from Home Assistant to Nextcloud or Photoprism
        (there are like 50 more, but I will stick to the highlights). I also had some fun with nginx
        and Traefik as a reverse proxy, as well as the cert boot for my certs from Let's Encrypt.
      </p>
    </app-project>
    <p class="year">2021</p>
    <app-project title="Godot" icon="godot">
      <p>
        After doing a lot of operational stuff, I decided, that it was time to develop again. I
        created a few games in Godot, the most noteworthy being
        <a href="https://gitlab.com/schober-group/yash">YASH</a>, which I created together with
        <a href="https://lumi200.at/">lumi200</a>. This brought the table-top game Secret Hitler to
        all devices, from mobile to desktop to even consoles. It was quite fun working on the networking
        stack of the game.
      </p>
    </app-project>
    <app-project title="Some more Android" icon="android_more">
      <p>
        As the stars realigned, I was working again on some Android apps again. For a while I played a
        bit around with <a href="https://dart.dev">Dart</a> and <a href="https://flutter.dev">Flutter</a>.
        But eventually I created a new app (in the same weird naming scheme as YASH before) called
        <a href="https://gitlab.com/schober-group/yetanotheruntis">YAU</a> (YetAnotherUntis).
      </p>
      <p>
        This app allowed the user (mostly me and some friends) to sync the school calendar to the local
        Android calendar instead of opening a dedicated app every time you want to know if the next lession is
        held or not. It was quite a ride, because I learned a lot about how to keep your app running in
        the background as well how to interface with the Android Accounts/Calendar/... Also I decided to give Kotlin a try
        this time.
      </p>
    </app-project>
    <p class="year">2022</p>
    <app-project title="Commean" icon="commean">
      <p>
        Together with lumi200 once again we worked on our diploma thesis Commean. The crux of it was that
        we analyzed traffic flow within a city to know where people wanted to go and help people shape better
        public transport.
      </p>
      <p>
        I worked on recognizing vehicles on a single board computer called
        <a href="https://www.khadas.com/vim3">Khadas VIM3</a> (basically a Raspberry Pi with Neural Processing
        Unit [NPU]). I played around with a few neural networks, such as
        <a href="https://github.com/AlexeyAB/darknet">YOLOv3</a> or <a href="https://arxiv.org/abs/1512.02325">SSD</a>.
        Eventually I chose YOLOv3, as it produced better results. Unfortunately the NPU was not fast enough
        to produce a high enough frame rate to easily map vehicles between frames. Therefore, I used different approaches
        to relate vehicles from frame to frame, such as feature matching or optical flow (I really found a love for
        computer vision there).
      </p>
      <p>
        The results then had to be sent to our central server via
        <a href="https://www.thethingsnetwork.org/docs/lorawan/what-is-lorawan/">LoRaWAN</a>. So I created a PCB
        for our chip and then had to port a library (<a href="https://gitlab.com/commean/vim-lmic">LMIC</a>
        to interface with our LoRaWAN chip to the VIM3. Then I used ZeroMQ to interface between both programs and
        had some fun writing my SystemD modules to start everything automatically on startup.
        I also created our <a href="https://commean.eu/">Homepage</a> in Vue.js and had fun with some animations using anime.js.
      </p>
      <p>
        Both our backend (Java/Spring) and frontend (Vue.js) was written by lumi200. I won't get into detail here,
        but he also had his fair share of fun with <a href="https://www.thethingsnetwork.org/">The Things Network</a> and
        time series databases. Together we won some national prices and had a fun time :)
        Be sure to check out our <a href="assets/files/thesis-commean.pdf">thesis</a> (written in Latex,
        repo can be found <a href="https://gitlab.com/commean/other/thesis">here</a>) for way more details than I can put
        in this "short" summary.
      </p>
    </app-project>
    <p class="year">2023</p>
    <app-project title="Rust & Git" icon="rust_git">
      <p>
        After Commean and during my civilian service, I sought some smaller projects. Also, I finally wanted a unified
        process to tag all my images using the GitLab CI or any other CI. It started out as a
        <a href="https://gitlab.com/2tefan-projects/android/rom-builder/-/blob/c7cce8a27e08299251fe9851e42c4b051089bf84/build/versioning.sh">little shell script</a>
        in the <a href="https://gitlab.com/2tefan-projects/android/rom-builder">Android Rom Builder</a> (a little tool to help build custom ROMs with containers).
        But I quickly found out that I didn't want to depend on Git being installed in the container that builds the image. Also, it was the perfect
        opportunity to test out Rust.
      </p>
      <p>
        So, using the libgit2 C library (git2 crate), I played a bit around and had fun rev-parsing around and getting to learn Git in more detail.
        This finally resulted in <a href="https://gitlab.com/2tefan-projects/git/vit">VIT</a> (Version IT!).
      </p>
    </app-project>
    <p class="year">2024</p> <app-project title="Kubernetes & Monitoring" icon="kubernetes">
      <p>
        Up to this point, I still have been using my Docker containers running on my server. But I decided, that this was not enough and started using k3s to
        provision my workloads. Also, I set up alerting and monitoring with Grafana, Loki and Mimir/Prometheus. And I fell in love with the idea of GitOps. I
        guess I already did something similar with my docker-compose.yamls before, but now it's self-healing with <a href="https://github.com/argoproj/argo-cd">ArgoCD</a>.
        My workloads are also maintained by using the <a href="https://docs.renovatebot.com/">Renovate Runner</a>.
      </p>
      <p>
        My workloads can be found on <a href="https://gitlab.com/schober-server/kubernetes/workloads/shuttle">GitLab</a> as well.
      </p>
    </app-project>
    <p style="text-align: center">To be continued...</p>
    <div class="point end-point"><div class="point"></div></div>
  </div>
</div>

