.center {
  display: flex;
  justify-content: center;
}

.year {
  font-size: 15mm;
  text-align: center;

  @media (min-width: 1200px) {
    color: #333333;
    position: relative;
    transform: rotate(90deg);
    font-size: 50mm;
    height: 0;
    margin: 0;
    top: 75mm;
    left: 180mm;
  }
}

.line {
  margin: 0 20px;
  overflow: hidden;
  position: relative;
  @media (min-width: 1200px) {
    padding-right: 45mm;

    &::before {
      content: '';
      position: absolute;
      display: block;
      left: 19mm;
      height: 100%;
      width: 2mm;
      background-image: linear-gradient(0deg, #001BFFAB 0%, #00EDFFFF 3%, #0074FFFF 10%, #001BFF00 26%, #001BFF00 70%, #FF00F4FF 74%, #FF7FCCFF 80%, #3E009000 87%, #FF000000 100%);

      animation: cycle 1.4s linear infinite;
    }

    &::after {
      content: '';
      position: absolute;
      display: block;
      left: 21mm;
      top: 0;
      height: 100%;
      width: 2mm;
      background-image: linear-gradient(0deg, #5600FF00 3%, #5600FFFF 6%, #5600FFFF 16%, #001BFFAB 22%, #001BFF00 35%, #001BFF00 70%, #C000FFFF 74%, #3E0090FF 80%, #3E009000 91%, #FF000000 100%);
      animation: cycle 2s linear infinite;
    }

    @keyframes cycle {
      0% {
        transform: translateY(-100%);
      }
      100% {
        transform: translateY(100%);
      }
    }
  }
}

@media (min-width: 1200px) {
  .point {
    width: 16mm;
    height: 16mm;
    border-radius: 50%;
    overflow: hidden;
    filter: drop-shadow(0 0 5px #241A66FF);

    &::before {
      content: '';
      position: absolute;
      z-index: -5;
      left: -50%;
      top: -50%;
      width: 200%;
      height: 200%;
      // https://colorgradient.dev/gradient-generator
      background-image: conic-gradient(from 0deg at 50% 50%, #241A66FF 0%, #5F60C2FF 20%, #966EFFFF 100%);
      animation: rotate 2s linear infinite;
    }

    &::after {
      content: '';
      position: absolute;
      z-index: -4;

      $border-size: 3;
      left: #{$border-size + 'px'};
      top: #{$border-size + 'px'};
      width: calc(100% - #{calc($border-size * 2) + 'px'});
      height: calc(100% - #{calc($border-size * 2) + 'px'});
      background: rgb(2, 0, 5);
      border-radius: 50%;
    }

    @keyframes rotate {
      100% {
        transform: rotate(1turn);
      }
    }
  }

  .start-point {
    position: absolute;
    z-index: 15;
    margin-left: 40px;
    padding: 2mm;

    &::before {
      animation: rotate 1.5s linear infinite;
      background-image: conic-gradient(from 0deg at 50% 50%, #241A66FF 0%, #FE1BE1FF 21%, #FF00DDFF 100%);
    }
  }


  .end-point {
    position: absolute;
    z-index: 15;
    margin-left: 40px;
    padding: 2mm;
    transform: translateY(-20mm);

    &::before {
      animation: rotate 1s linear infinite;
      background-image: conic-gradient(from 0deg at 50% 50%, #241A66FF 0%, #C25F9DFF 20%, #FF6E9CFF 100%);
    }
  }
}
