.landing-page {
  $img-size: 200px;

  background-color: black;
  color: white;
  height: 100vh;

  display: flex;
  justify-content: center;

  .content {
    max-width: 1000px;

    display: grid;
    grid-template-areas: "img text";
    grid-template-columns: calc(1.1 * #{$img-size}) auto;
    grid-template-rows: calc(1.1 * #{$img-size}) auto;
    gap: 10px;

    align-content: center;

    .text {
      grid-area: text;
      display: inline-grid;
      grid-template-areas: "name"
      "details";

      align-content: center;
      align-items: center;

      h1,
      h2 {
        margin: 0;
      }

      h1 {
        font-size: 6rem;
        grid-area: name;
        margin-top: -30px;
        margin-bottom: -27px;
      }

      h2 {
        grid-area: details;
      }
    }
    picture {
      $stroke-size: 1px;
      $stroke-size--negative: calc(-1 * #{$stroke-size});
      $stroke-color: rgb(0, 140, 255);

      grid-area: img;

      filter: drop-shadow($stroke-size 0px 0px $stroke-color)
        drop-shadow($stroke-size--negative 0px 0px $stroke-color)
        drop-shadow(0px $stroke-size 0px $stroke-color)
        drop-shadow(0px $stroke-size--negative 0px $stroke-color)
        drop-shadow($stroke-size $stroke-size 0px $stroke-color)
        drop-shadow(
          $stroke-size--negative $stroke-size--negative 0px $stroke-color
        )
        drop-shadow($stroke-size--negative $stroke-size 0px $stroke-color)
        drop-shadow($stroke-size $stroke-size--negative 0px $stroke-color);
      img {
        width: $img-size;
        clip-path: polygon(
          99.69% 55.6%,
          76.6% 92.34%,
          33.49% 97.19%,
          2.81% 66.51%,
          7.66% 23.4%,
          44.4% 0.31%,
          85.36% 14.64%
        );
      }
    }
  }
}
