<section class="landing-page">
    <div class="content">
    <h1>Stefan Pisjak</h1>

    <picture class="box">
        <source srcset="
    https://gitlab.com/2tefan-personal/assets/images/-/raw/be821312d02be0aa5f2fcb2c33f45baf3447743b/me/ME_lowest.avif 80w,
    https://gitlab.com/2tefan-personal/assets/images/-/raw/be821312d02be0aa5f2fcb2c33f45baf3447743b/me/ME_lower.avif 160w,
    https://gitlab.com/2tefan-personal/assets/images/-/raw/be821312d02be0aa5f2fcb2c33f45baf3447743b/me/ME_low.avif 320w,
    https://gitlab.com/2tefan-personal/assets/images/-/raw/be821312d02be0aa5f2fcb2c33f45baf3447743b/me/ME.avif 2500w
    " type="image/avif">

        <source srcset="
    https://gitlab.com/2tefan-personal/assets/images/-/raw/be821312d02be0aa5f2fcb2c33f45baf3447743b/me/ME_lowest.jpg 80w,
    https://gitlab.com/2tefan-personal/assets/images/-/raw/be821312d02be0aa5f2fcb2c33f45baf3447743b/me/ME_lower.jpg 160w,
    https://gitlab.com/2tefan-personal/assets/images/-/raw/be821312d02be0aa5f2fcb2c33f45baf3447743b/me/ME_low.jpg 320w,
    https://gitlab.com/2tefan-personal/assets/images/-/raw/be821312d02be0aa5f2fcb2c33f45baf3447743b/me/ME.jpg 1000w
    " type="image/jpg">

        <img
            src="https://gitlab.com/2tefan-personal/assets/images/-/raw/be821312d02be0aa5f2fcb2c33f45baf3447743b/me/ME_low.jpg">
    </picture>
</div>
</section>
<router-outlet></router-outlet>