/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Arvo';
    src: url('./assets/font/Arvo.woff2') format('woff2'),
         url('./assets/font/Arvo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arvo';
    src: url('assets/font/Arvo-Bold.woff2') format('woff2'),
         url('assets/font/Arvo-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arvo';
    src: url('assets/font/Arvo-Italic.woff2') format('woff2'),
         url('assets/font/Arvo-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arvo';
    src: url('assets/font/Arvo-BoldItalic.woff2') format('woff2'),
         url('assets/font/Arvo-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Teko';
    src: url('assets/font/Teko-Medium.woff2') format('woff2'),
        url('assets/font/Teko-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Teko';
    src: url('assets/font/Teko-SemiBold.woff2') format('woff2'),
        url('assets/font/Teko-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Teko';
    src: url('assets/font/Teko-Light.woff2') format('woff2'),
        url('assets/font/Teko-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Teko';
    src: url('assets/font/Teko-Regular.woff2') format('woff2'),
        url('assets/font/Teko-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Teko';
    src: url('assets/font/Teko-Bold.woff2') format('woff2'),
        url('assets/font/Teko-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Arvo', "Roboto Slab", "Roboto", "Arial", sans;
  font-size: 20px;
  background-color: rgb(3, 3, 3);
  color: white;
}

* {
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Teko;
  line-height: 1.15;
}

h1,
.text-size-h1 {
  font-size: 2.49em;
}

h2,
.text-size-h2 {
  font-size: 2.07em;
}

h3,
.text-size-h3 {
  font-size: 1.73em;
}

h4,
.text-size-h4 {
  font-size: 1.44em;
}

h5,
.text-size-h5 {
  font-size: 1.2em;
}

.text-caption {
  font-size: 0.83em;
}

small,
.text-small {
  font-size: 0.69em;
}

.mono {
  font-family: "Roboto Mono", monospace;
  white-space: pre;
}

a {
  margin: auto;
  text-decoration: none;
  color: white;
  position: relative;
  transition: all .3s cubic-bezier(.2, 0, 0, 1);
  z-index: 1;
  white-space: nowrap;

  &:after {
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    bottom: 0;
    right: .25rem;
    left: .25rem;
    background-color: #ffffff;
    transition: all .3s cubic-bezier(.2, 0, 0, 1);
    transform-origin: bottom center;
    z-index: -1;
  }

  &:hover {
    color: #2D2D2D;

    &:after {
      right: 0;
      left: 0;
      height: 100%;
    }
  }
}
